<div class="scraped scraped-container">
  <a href="{{url}}" class="info">
    <strong class="title">{{title}}</strong>
    <em class="description">{{description}}</em>
    {{domain}}
  </a>
  <a href="{{url}}" class="image" style="background-image: url({{image}});"></a>
</div>